@model IEnumerable<CarDealer.Models.Car>

<h2>Index</h2>


<table class="table" style="background-color: azure">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>YearOfProduction</th>
            <th>Kilometers</th>
            <th>EngineSize</th>
            <th>FuelType</th>
            <th>EnginePower</th>
            <th>Description</th>
            <th>Price</th>
            <th>PhotoUrl</th>
            <th>ThumbnailUrl</th>
            <th><a asp-action="Create" class="btn btn-success btn-sm">Create New</a></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfProduction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kilometers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngineSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FuelType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnginePower)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoUrl)
                </td>
                <td>
                   <img src="@item.ThumbnailUrl" height="90" width="100" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="margin-bottom:3px">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="margin-bottom:3px">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="margin-bottom:3px">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
